body {
  margin: 15px;
}

.title {
  margin-left: 100px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.list {
  padding-left: 10em;
}

.refresh {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.ref-btn {
  height: 35px;
  margin: 20px 0;
}

button {
  background-color: transparent;
  border: 3px solid black;
  padding: 5px;
  box-shadow: 2px 2px black;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 35%;
}

.plus {
  margin-top: 10px;
}

.extra {
  margin: 10px 0;
  padding: 5px;
  border: 3px solid black;
}

.smt-btn {
  width: 60px;
  height: 35px;
  align-self: flex-end;
}

ul {
  border: 3px solid black;
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 5px;
  font-weight: bold;
}

li:nth-child(odd) {
  background-color: rgb(226, 222, 222);
}
